/* GLOBALS AND RESETS -DOWN*/
:root {
   --dark:#333;
   --light:#fbfbfb ;
}
html {
   box-sizing: border-box;
   color: var(--dark);
   height:100%;
   scroll-behavior: smooth;
}
body {
   background:var(--light);
   font-family: 'Roboto', sans-serif;
   line-height: 1.4;
   margin:0;
   width:100%;
}
img {
   max-width: 100%;
} 
.wrapper {
   display:grid;
   grid-gap:20px;
   margin: 0 auto;
   max-width: 100%;
   margin-top:-47px;
   text-align:center;
}
hr {
   border: 0;
   background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   height: 1.2px;
}
header {
   margin:0 auto; 
   margin-top:-20px;
}
/* GLOBALS AND RESETS - UP*/



/* TOP CONTAINER - DOWN*/
.top-container{
   padding-top:20px;
   text-align: center;
   width:100%;
}
.top-container h1{
   font-family: 'Playball', cursive;
   font-size: 2.9rem;
   height:100px;
   margin:60px auto 0 auto;
   max-width: 100%;
   position: relative;
   top:15px;
}
/* DEKSTOP NAV HIDDEN TILL MEDIA QUERY -DOWW */
.main-nav{
   display:none;
}
/* DEKSTOP NAV HIDDEN TILL MEDIA QUERY - UP */
/* TOP CONTAINER - UP*/



/* MAIN SECTION - DOWN*/
#box-shadow-wrap {
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
   
}
.info-container {
   text-align: center;
   margin-top:30px;
}
.info-container h2{
   font-size: 1.5rem;
   width:90%;
   max-width:700px;
   margin:0 auto;
   background-color: var(--dark);
   color: var(--light);
}
#info-text-hr-top{
   padding-bottom:-40px;
   width:60%;
   margin-bottom:40px;

}
#info-text-hr-bot{
   width:60%;
   margin-bottom:500px;
}
#info-text-hr-top-b {
   width:60%;
   margin-bottom:-50px;
}
#info-text-hr-bot-b {
   width:60%;
   margin-bottom:-20px;
} 

.gallery {
   display:flex;
   flex-wrap:wrap;
   margin: 0 auto;
   max-width: 90%;
}
.gallery a {
   width:100%;
   margin:0 auto;
   max-width: 400px;;
   height:280px;
   background-color: var(--dark);
   margin-bottom:10px;
}
.gallery img {
   width:100%;
}
.gallery p {
   color: var(--light);
   max-width:70%;
   margin: 0 auto;

}

.info-text {
   width:70%;
   margin:0 auto;
   margin-top:40px;
   margin-bottom:20px;
   font-size:1.2rem;
}
/* MAIN SECTION - UP*/
.info-container-a {
   text-align: center;
}
#portrait{
   width:40%;
   max-width: 500px;
   border-radius:900px;
   margin-bottom:10px;
   margin:0 auto;
}
.info-container-a h2{
   
   margin-bottom:10px;
   font-size: 1.4rem;
}
.info-container-a p{
   position: relative;
   right:5px;
   margin:0 auto;
   max-width: 70%;
}
/* WHERE TO FIND US SECTION - DOWN */

iframe {
   height:400px;
   width:95%;
   margin:0 auto;
   max-width: 1200px;
}
/* WHERE TO FIND US SECTION - UP */

/* FOOTER - DOWN*/
.footerSection {
   background-color: var(--dark) ;
   box-shadow: 0px 0 20px rgba(80, 80, 80, 0.8);
   color: var(--light);
   display:flex;
   flex-wrap: wrap;
   font-size: 0.8rem;
   margin:0 auto;
   margin-top:auto;
   text-align: center;
   width:100%;
}
.footerSection .contact-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin:0 auto;
   width:100%;
}
.footerSection .contact-details h4{
   cursor: pointer;
   width:100%;
}
.footerSection a {
   color: var(--light);
}
.footerSection a:visited{
   color: var(--light);
}
/* FOOTER - UP*/



/* MOBILE HAMBURGER MENU - DOWN*/
#menu{
   background: #ededed;
   list-style-type: none;
   margin: -100px 0 0 -50px;
   padding-left: 50px;
   padding-bottom: 50px;
   padding-top: 99px;
   position: absolute;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   width: 200px;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   border-radius:0  0 20px 0;
}
a{
   color: #232323;
   text-decoration: none;
   transition: color 0.3s ease;
}
a:hover{
   color: tomato;
}
#menuToggle{
   left: 10px;
   position: fixed;
   top: 20px;
   user-select: none;
   -webkit-user-select: none;
   z-index: 1;
}
#menuToggle input{
   cursor: pointer;
   display: block;
   height: 32px;
   left: -5px;
   opacity: 0; /* hide this */
   top: -7px;
   position: absolute;
   width: 40px;
   -webkit-touch-callout: none;
   z-index: 2; /* and place it over the hamburger */
}
#menuToggle span{
   background: #696767;
   border-radius: 3px;
   display: block;
   height: 4px;
   position: relative;
   margin-bottom: 5px;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
   width: 33px;
   z-index: 1;
}
#menuToggle span:first-child{
   transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
   transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
   background: #232323;
   opacity: 0.6;
   transform: rotate(45deg) translate(-2px, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3){
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
   transform: rotate(-45deg) translate(0, -1px);
}
#menu li{
   font-size: 22px;
   padding: 20px 0;
}
#menuToggle input:checked ~ ul{
   transform: none;
}
/* MOBILE HAMBURGER MENU - UP*/



/* MEDIA QUERIES - DOWN */
/* MID SIZED DISPLAY */
@media only screen and (min-width:700px) {
   /* DESKTOP ONLY NAV - DOWN*/
   .main-nav{
      border-radius: 0px 0px 5px 5px;
      display: block;
      margin:0 auto;
      max-width:400px;
      position: relative;
      top:-16px;
      background-color: #8c8b8b1a;
   }
   .main-nav ul {
      /* border-bottom: 1px solid var(--dark); */
      display:grid;
      grid-gap:10px;
      grid-template-columns: repeat(4, 1fr);
      list-style:none;
      margin:0 auto;
      max-width:500px;
      padding:0;
   }
   .main-nav a {
      box-shadow:black;
      color: var(--dark);
      display:block;
      font-size:0.6rem;
      margin:0.8rem;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      margin-bottom:10px;
   }
   .main-nav li:nth-child(3){
      background-color: rgba(138, 138, 138, 0.466);
    

   }
   .main-nav a:hover {
      text-decoration:underline;
   }
   /* DESKTOP ONLY NAV - UP */
   .gallery a{
      width:30%;
   }
   .info-text {
      width:70%;
      max-width:700px;
   }
   .info-container-a p{
      max-width:700px;
   }
   hr {
      max-width: 600px;
   }

}
/* MEDIA QUERIES - UP */

@media only screen and (min-width:900px) {
   iframe {
      height:700px;
   }
}