body {
   background-color: black;
}

.glide .glide__track .glide__slides {
   color: white;
}

.glide .glide__track .glide__slides li:first-child{
   width:100%;
   height:850px;
   background:url(../img/background.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}