/* GLOBALS AND RESETS */
:root {
   --primary: #f1f1f1;
   --dark:#333;
   --light:#e6e6e6 ;
}
html {
   box-sizing: border-box;
   color: var(--dark);
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
   height:100%;
}
body {
   background:white;
   font-family: 'Roboto', sans-serif;
   line-height: 1.4;
   margin:0;
   width:100%;
}
img {
   max-width: 100%;
} 
.wrapper {
   display:grid;
   grid-gap:20px;
   margin: 0 auto;
   max-width: 100%;
   margin-top:-47px;
   background:var(--primary);
}
hr {
   border: 0;
   height: 1.2px;
   background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
header {
   margin:0 auto; 
   margin-top:-20px;
}
/* GLOBALS AND RESETS */

.glide .glide__track .glide__slides {
   color: white;
}
.glide .glide__track .glide__slides li:first-child{
   width:100%;
   height:800px;
   background:url(../img/background.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.glide .glide__track .glide__slides li:nth-child(2){
   width:100%;
   height:800px;
   background:url(../img/headerTwo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: 30px;
}
.glide .glide__track .glide__slides li:nth-child(3){
   width:100%;
   height:800px;
   background:url(../img/headerThree.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.glide .glide__bullets {
   position: relative;
   top:-320px;
}


/* TOP CONTAINER */
.top-container{
   padding-top:20px;
   text-align: center;
   width:100%;
}
.top-container h1{
   position: relative;
   top:-820px;
   font-size: 2.9rem;
   margin:0 auto;
   max-width: 100%;
   height:100px;
   font-family: 'Playball', cursive;
   margin-top:60px;

}
.top-container img {
   cursor: pointer;
   max-width: 80px;
   position: relative;
   top:-430px;
}

.top-container img:hover {
   transition: all .2s ease-in-out;
   transform: scale(1.1);
}
/* TOP CONTAINER */



/* INFO CONTAINER */
.info-container {
   text-align: center;
   margin-top:200px;
}
#info-header-container{
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}
.info-container h2{
   font-size: 1.1rem;
   max-width:95%;
   margin-bottom:5px;
   margin:0 auto;
   padding-top:15px;
   padding-bottom:10px;
   margin-top:-460px;
   color: var(--dark);
   
}
.info-container p {
   padding-bottom:70px;
   font-size:1.2rem;
   max-width: 90%;
   margin:0 auto;
   
}
#info-h2-bottom-hr{
   margin-bottom:13px;
   max-width: 100%;
}

#info-h2-bottom-hr-b{
   
   max-width: 80%;
}


.mobile-links-container {
   position: relative;
   top:-150px;
   display:flex;
   flex-wrap: wrap;
}
.mobile-link {
   width:100%;
   margin-bottom:40px;

}

#mobile-link-img {
   border-radius:200px;
   width:159px;
   margin:0 auto;
   height:180px;
   background-color:var(--primary);
   position: relative;
   top:90px;
   display: flex;
}
#mobile-link-circle {
   background-color: var(--dark);
   width:140px;
   height:140px;
   border-radius: 300px;
   margin:0 auto;
   position: relative;
   top:28px;
   text-align: center;

}

.port-link {
   height:400px;
   width:90%;
   display: flex;
   margin:0 auto;  
}
.port-link1 {
   background: url('../img/headerTwo.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center top;
}
.port-link2 {
   background: url('../img/boy-child.jpg'); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center;
}
.port-link3 {
   background: url('../img/headshotTwo.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center; 
}
.port-link4 {
   background: url('../img/specialTwo.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center top;
}

#port-link-info{
   background-color: var(--dark);
   height:130px;
   width:100%;
   position: relative;
   top:400px;
}
#port-link-info p{
   color: var(--primary);
   max-width: 80%;
   margin:0 auto;
   margin-top:20px;
   font-size:1.2rem;
}

.mobile-link h4 {
   overflow: hidden;
   margin:0 auto;
   padding-top:50px;
   height:100px;
   width:100px;
   color: var(--primary);
   font-family: 'Playball', cursive;
   font-size: 1.3rem;
}
#info-text {
   width:90%;
   margin:0 auto;
   padding-bottom:5px;
   font-size:1.2rem;
}
#info-text-hr-top{
   margin-top:-40px;
   height:2px;
}
#info-text-container {
   width:90%;
   margin:0 auto;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}
#info-text h3{
   width:100%;
   background-color: var(--dark);
   color: var(--primary);
   border-radius:0 0 5px 5px;
}
#info-text-hr-bottom{
   margin-top:20px;
   margin-bottom:20px;
   height:2px;
}




.image-gall-a {
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-gap:0px;
   margin:0 auto;
   width:93%;
   margin-bottom:-10px;
}
.image-gall-a a{
  
   margin-top:-10px;
   min-width:50%;
}



/* FOOTER */
.footerSection {
   background-color: var(--dark) ;
   width:100%;
   box-shadow: 0px 0 20px rgba(80, 80, 80, 0.8);
   margin:0 auto;
   display:flex;
   color: var(--primary);
   text-align: center;
   flex-wrap: wrap;
   margin-top:auto;
   font-size: 0.8rem;
}

.footerSection .contact-details{
   width:100%;
   margin:0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.footerSection .contact-details h4{
   width:100%;
   cursor: pointer;

}
/* FOOTER */











/* MOBILE HAMBURGER MENU */
a{
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
}
a:hover{
   color: tomato;
}
#menuToggle{
   position: fixed;
   top: 20px;
   left: 10px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
}
#menuToggle input{
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
}
#menuToggle span{
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #696767;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
}
#menuToggle span:first-child{
   transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
   transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
   opacity: 0.6;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3){
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
   transform: rotate(-45deg) translate(0, -1px);
}
#menu{
   position: absolute;
   width: 200px;
   margin: -100px 0 0 -50px;
   padding-left: 50px;
   padding-bottom: 50px;
   padding-top: 99px;
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
   padding: 20px 0;
   font-size: 22px;
}
#menuToggle input:checked ~ ul{
   transform: none;
}
/* MOBILE HAMBURGER MENU */







/* 
@media only screen and (min-width:801px) {
   .top-container{
      background:url(../img/background.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height:820px;
      padding-top:40px;
      text-align: center;
      width:100%;
   }
   .top-container h1{
      font-size: 2.9rem;
      margin:0 auto;
      width:100%;
      font-family: 'Playball', cursive;
      margin-top:-20px;
   }
   /* NAVIGATION */
   /* .main-nav{
      margin:0 auto;
      width:80%;
      border-radius: 0px 0px 5px 5px;
   }
   .main-nav ul {
      max-width:500px;
   }
   .main-nav a {
      font-size:0.6rem;
   }
   .main-nav li:nth-child(3){
      width:120px;
   }
   .top-container img {
      top:610px; 
   } */
/* } */ 
