@import "components";
$mobileElementWidth: 90%;

.mainInfoContainer {
   color: $lightColor;
   font-size: 0.9rem;
   margin: 50px auto 0;
   text-align: center;
   width: $mobileWidth;

   #infoBlockOne {
      h2 {
         background-color: $primaryColor;
         margin: 0 auto;
         padding: 20px;
         width: $mobileElementWidth;
      }
      span {
         background-color: $lightColor;
         color: $darkColor;
         display: block;
         font-size: 1.15rem;
         font-weight: bold;
         margin: 0 auto;
         padding: 20px;
         text-align: left;
         width: $mobileElementWidth;
         p {
            margin: 0 auto;
            max-width: 600px;
            padding: 30px;
            width: 80%;
         }
      }
   }

   #infoBlockTwo {
      h2 {
         background-color: $primaryColor;
         margin: 80px auto 0px auto;
         padding: 20px;
         width: $mobileElementWidth;
      }
      div:first-of-type {
         background-color: $lightColor;
         border-radius: 10px;
         margin: 0 auto;
         padding: 20px;
         width: $mobileElementWidth;
         img {
            border-radius: 50px;
            max-width: 500px;
            width: 100%;
         }
      }
      h3 {
         background-color: $lightColor;
         color: $darkColor;
         font-size: 1.4rem;
         margin: 0 auto -20px;
         padding: 20px;
         width: $mobileElementWidth;
      }
      span {
         background-color: $lightColor;
         color: $darkColor;
         display: block;
         font-size: 1.15rem;
         font-weight: bold;
         margin: 0 auto;
         padding: 20px;
         text-align: left;
         width: $mobileElementWidth;
         p {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;
            width: 80%;
         }
      }
   }

   #infoBlockThree {
      h2 {
         background-color: $primaryColor;
         margin: 80px auto 0;
         padding: 20px;
         width: $mobileElementWidth;
      }
      span {
         background-color: $lightColor;
         color: $darkColor;
         display: block;
         font-size: 1.15rem;
         font-weight: bold;
         margin: 0 auto;
         padding: 20px;
         text-align: center;
         width: $mobileElementWidth;
         p {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;
            width: 80%;
         }
      }
      iframe {
         height: 800px;
         margin-top: 80px;
         width: 99%;
      }
   }
}

nav {
   li:nth-child(1) {
      background-color: $darkColor;
   }
   li:nth-child(3) {
      background-color: rgba(138, 138, 138, 0.466);
   }
}

// MEDIA QUERIES
@media only screen and (min-width: 900px) {
   .mainInfoContainer {
      width: $desktopWidth;
   }
   iframe {
      height: 800px;
      margin-top: 80px;
      width: 90%;
   }
}
