@import 'main'; 

#sort-buttons-container{
   margin:0 auto;
   display:flex;
   flex-direction: row;
   max-width: 80%;
   justify-content: space-evenly;
   margin-top:50px;
   margin-bottom: 60px;
   background-color: $primaryColor;
   flex-wrap: wrap;
   button {
      box-shadow:black;
      display:block;
      font-size:0.8rem;
      font-weight: bold;
      margin:0.8rem;
      text-decoration: none;
      text-align: center;
      color: $lightColor;
      border-bottom: 1px solid transparent;
      transition: all ease-in-out 0.5s;
      background-color: $lightColor;
      height:50px;
      width:20%;
      min-width: 100px;
      max-width: 200px;
      cursor: pointer;
   }
   button:hover {
      border-color: $darkColor;
   }
   button:active {
      background-color: $darkColor;
   }
}
.buttonCurrent{
   background-color: $darkColor;
   display:none
}
.port-gallery{
   width:99%;
   margin:0 auto;
   display:flex;
   flex-wrap: wrap;
   margin-bottom: 100px;
   .galImageBox{
      width:100%;
      max-height:500px;
      position: relative;
      margin:1px;
   }
   .galImage{
      width:100%;
      height:100%;
      object-fit: cover;
   }
}
.loadingImg {
   opacity: 0;
   transition: opacity .400s;
}
.loadedImg {
   opacity: 1;
   transition: opacity .400s;
}
.removedImg {
   opacity: 0;
}
nav{
   li:nth-child(1){
      background-color: $darkColor;
   }
   li:nth-child(2){
      background-color: rgba(138, 138, 138, 0.466);
   }
}

@media only screen and (min-width:500px) {
   .port-gallery{
      width:80%;
      .galImageBox{
         width:49%;
      }
   }
}
@media only screen and (min-width:900px) {
   .port-gallery{
      width:80%;
      .galImageBox{
         width:33%;
      }
   }
   #sort-buttons-container{
      flex-wrap: nowrap;
   }
}