@import "components";

nav {
   li:nth-child(1) {
      background-color: $darkColor;
   }
   li:nth-child(4) {
      background-color: rgba(138, 138, 138, 0.466);
   }
}

footer {
   margin-top: 10%;
}

#main-section {
   display: flex;
   flex-direction: column;
   height: 100%;
   margin: 0 auto;
   width: 100%;

   .catDivButton {
      background-color: $primaryColor;
      border-bottom: 1px solid transparent;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
      color: $lightColor;
      cursor: pointer;
      margin: 10% auto 0;
      max-width: 600px;
      outline: none;
      transition: all ease-in-out 0.5s;
      width: 60%;
      z-index: 2;
   }
   .catDivButton:hover {
      background-color: #eaeaea;
      color: $darkColor;
   }
   .catDivContent {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;

      .albumCollection {
         background-color: $lightColor;
         border-radius: 10px;
         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
         display: flex;
         flex-direction: column;
         margin: 50px auto 0;
         padding: 20px 0 70px 0;
         width: 85%;
         span {
            font-weight: bold;
            margin: 0 auto 20px;
            text-align: center;
            width: 100%;
            h3 {
               font-size: 1.8rem;
               width: 100%;
            }
            p {
               font-size: 1.1rem;
            }
         }
         img {
            margin: 0 auto 20px;
            max-width: 95%;
         }
         ul {
            li {
               font-weight: bold;
               margin-bottom: 10px;
            }
         }
      }
   }
   .albumsContentHidden {
      display: none;
   }
   .weddingImagesContentHidden {
      display: none;
   }
   .headshotsContentHidden {
      display: none;
   }
   .babyContentHidden {
      display: none;
   }
}

@media only screen and (min-width: 900px) {
   footer {
      margin-top: 10%;
   }
   #main-section {
      .catDivButton {
         background-color: $primaryColor;
         border-radius: 5px;
         color: $lightColor;
         margin: 3% auto 0;
         max-width: 600px;
         width: 60%;
      }

      .catDivContent {
         .albumCollection {
            display: grid;
            gap: 1px 1px;
            grid-auto-columns: 1fr 1fr;
            grid-template-areas: "span span" "img ul" "img ul";
            grid-template-rows: 1fr 1fr 1fr;
            margin: 50px auto 0;
            max-width: 900px;
            width: 80%;
            span {
               grid-area: span;
               margin: 0 27% 0 0;
               min-width: 150%;
            }
            img {
               grid-area: img;
               margin: 0 auto;
               max-width: 90%;
            }
            ul {
               grid-area: ul;
               li {
                  margin-bottom: 10px;
               }
            }
         }
      }
   }
}
@media only screen and (min-width: 1400px) {
   #main-section {
      .catDivContent {
         display: flex;
         flex-direction: initial;
         flex-wrap: wrap;
         width: 70%;

         .albumCollection {
            margin-bottom: -22px;
            max-height: 370px;
            width: 45%;
            img {
               max-width: 100%;
            }
         }
      }
      .albumsContentHidden {
         display: none;
      }
      .weddingImagesContentHidden {
         display: none;
      }
      .headshotsContentHidden {
         display: none;
      }
      .babyContentHidden {
         display: none;
      }
   }
}
